/*
 * @Author : jaydon
 * @Date   : 2021-06-17 11:31
 * @WeChat : i-vshow
 * @Email  : vshow@huxiaodo.com
 * @Blog   : http://g.huxiaodo.com
 */

@import '~normalize.css';
@import './variables.scss';
@import './iconfont.css';
@import './common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  display: inline-block;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#app {
  min-height: 100%;
  font-size: 16px;
}
