/*
 * @Author : jaydon
 * @Date   : 2021-06-17 11:31
 * @WeChat : i-vshow
 * @Email  : vshow@dooomi.com
 * @Blog   : http://g.huxiaodo.com
 */

@import './iconfont.css';

image {
  display: inline-block;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#app {
  min-height: 100%;
  font-size: 16px;
}
